root = true

[*]
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true

[*.html]
indent_size = 2

[*.json]
indent_size = 2

[Makefile]
indent_style = tab

[*.nix]
indent_size = 2
[*.lock]
indent_size = 2
