
{
    "plugins": ["import"],
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/errors",
        "plugin:import/typescript",
        "plugin:import/warnings",
        "plugin:lit/recommended",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "@typescript-eslint/explicit-member-accessibility": ["warn"],
        "@typescript-eslint/no-parameter-properties": ["warn"],
        "comma-dangle": ["error", "only-multiline"],
        "quotes": ["error", "single"],
        "semi": ["error", "always"]
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
            // use <root>/tsconfig.json
            "typescript": {},
        }
    }
}
